<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golang Web Example</title>

    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="hero is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1280px-Go_Logo_Blue.svg.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li><a href="/">&#127968; Home</a></li>
                                    <li><a href="/about">&#128220; About</a></li>
                                    <li><a href="/login">&#128273; Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>    
    </section>
      
    <section class="section">
        <section class="section">
            <div class="columns">
                <div class="column is-offset-3 is-half">
                    <div class="box">
                        <div class="field">
                            <div class="notification is-success is-light">
                                You're successfully do the login process. Now open the <strong>developer tools</strong> on browser , and at <strong>application</strong> you should find the cookies is set.
                                If you want to login using other account , please see <strong>data-user.json</strong>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">&#129304; Your Username</label>
                            <div class="control">
                                <p>{{.Username}}</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">&#129488; Your Display Name</label>
                            <div class="control">
                                <p>{{.DisplayName}}</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">&#x1F4EA; Your Email </label>
                            <div class="control">
                                <p>{{.Email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
</html>